<!-- Credit to csmcfarland's Lancer QoL that this template is based off of -->
<form autocomplete="off">

    <div class="form-group">
        <label>Enable Round Start Roll</label>
        <input type="checkbox" name="roundStartEnable" {{#if roundStartEnable}}checked{{/if}}
            data-dtype="Boolean" />
        <p class="notes">When set to true, automate rolling a die at the start of each combat round.</p>
    </div>

    <div class="form-group" data-setting-id="roundStartRollName">
        <label>Roll Name</label>
        <div class="form-fields">
            <input type="text" name="roundStartRollName" value="{{roundStartRollName}}" data-dtype="String">
        </div>
        <p class="notes">The name of your roll.</p>
    </div>

    <div class="form-group" data-setting-id="roundStartDieSize">
        <label>Die Size</label>
        <div class="form-fields">
            <input type="number" min=0 step=1 max=20 default=6 name="roundStartDieSize" value="{{roundStartDieSize}}" data-dtype="Number">
        </div>
        <p class="notes">The size of the die to use for your roll.</p>
    </div>

    <div class="form-group" data-setting-id="roundStartSuccessRange"></div>
        <label>Success Range</label>
        <div class="form-fields">
            <input type="number" min=1 step=1 max=20 default=10 name="roundStartSuccessRange" value="{{roundStartSuccessRange}}" data-dtype="Number">
        </div>
        <p class="notes">Optional target number to specify for successful rolls.</p>
    </div>

    <div class="form-group">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i>
            <span>Save</span>
        </button>
        <button type="button" name="reset">
            <i class="fas fa-undo"></i>
            <span>Reset</span>
        </button>
    </div>
</form>
